<!DOCTYPE html>
<HTML>
<HEAD>
<TITLE>Welcome to the Module Registry</TITLE>
</HEAD>
<BODY BGCOLOR="FFFFFF">
<!--<CENTER><IMG SRC="clouds.jpg" ALIGN="BOTTOM"> </CENTER>-->
<!--<HR>-->
<!--<a href="http://somegreatsite.com">Link Name</a>-->
<!--is a link to another nifty site-->
<H1>Welcome to the Module Registry</H1>
<H2>Please enter your login credentials below</H2>
For support, email us at <a href="mailto:htharakr@purdue.edu">
htharakr@purdue.edu</a>.
<P> This page is the user authentication page
<P> <B>Testing line1</B>
<BR> <B><I>Testing line 2</I></B>
<HR>
</BODY>
</HTML>